@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Audiowide&family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Genos:ital,wght@0,100..900;1,100..900&family=Iceland&family=Londrina+Shadow&family=Maiden+Orange&family=Modak&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yatra+One&display=swap');
/* Enkel CSS-reset */
   html {
   box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
margin: 0;
padding: 0;
}

/*
bg color = #FBF7F!
bg img #F5EBDC
tect color = #502314
button color #CC2200
typsnitt MODAK
 font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}
/*/
body{}
.container{}

.sideheader{}
.sideheader .menu{}
.sideheader .menu a{}
.sideheader .invite{}

.innehall{}
.innehall h2{}
.innehall .columns-3 {}
.innehall .columns-3 .burgers {}
.innehall .columns-3 .burgers img {}
.innehall .columns-3 .burgers p {}